<ion-pane>
   <ion-content class="padding" id="menuBtn" style="background-image: url(img/hospital-bg.gif);background-position: center; background-size:cover;">

    <header>
      <h1 class="title" style="color:black;">YUGMA</h1>
    </header>

    <section class="row responsive-sm row-center" style="margin-top:25%;">
      <div class="col col-center">
        <button class="button button-block card" ui-sref="surveylist">
          <span class="ion-ios-list-outline"></span> Survey 
        </button>
      </div><!-- col -->
      <div class="col col-center">
       <button class="button button-block card" ui-sref="newcomplaint">
          <span class="ion-thumbsdown"></span> Complaint 
        </button>
      </div><!-- col -->
    </section><!-- row -->
    
    <section class="row responsive-sm row-center">
      <div class="col col-center">
        <button class="button button-block card">
          <span class="ion-chatbubble"></span> Suggestion 
        </button>        
      </div><!-- col -->
      <div class="col col-center">
        <button class="button button-block card">
          <span class="ion-thumbsup"></span> Appreciation 
        </button>
      </div><!-- col -->
    </section><!-- row -->
  </ion-content>
</ion-pane>