<ion-pane>
  <ion-header-bar align-title="center">
    <h1 class="title">YUGMA</h1>
  </ion-header-bar>

   <ion-content class="padding" id="menuBtn">
    <button class="button button-block">
      Survey
    </button>
    <button class="button button-block" ui-sref="newcomplaint">
      Complaint
    </button>
    <button class="button button-block">
      Suggestion
    </button>
    <button class="button button-block">
      Appreciation
    </button>
<br/><br>
    <button class="button" ui-sref="surveylist">View survey list</button>
   </ion-content>
</ion-pane>