<ion-pane>
  <ion-header-bar align-title="center" class="bar-royal">
    <h1 class="title">New Complaint</h1>
  </ion-header-bar>

        <ion-content class="padding">
          <div id="newcomplaint">
            <form name="complaintForm" class="complaintForm" novalidate ng-submit="complaintForm.$valid && complaintCtrl.saveComplaint(complaint)">
              <div class="list">
                <select name="complaintCategory" ng-options="category.id as category.name for category in complaintCtrl.categories track by category.id" ng-model="complaint.categoryId" ng-required="true">
                  <option value="" style="display:none">Select Category</option>
                </select>

                  <div class="help-block" ng-if="submitted || complaintForm.complaintCategory.$touched" ng-messages="complaintForm.complaintCategory.$error">
                    <div ng-messages-include="templates/messages.html"></div>
                  </div><!-- help block -->

                  <select ng-if="complaint.categoryId" id="subCategory" name="complaintSubCategory" ng-options="subCategory.id as subCategory.sname for subCategory in complaintCtrl.subCategories | filter : complaint.categoryId track by subCategory.id" ng-model="complaint.subcatId" ng-required="true">
                   <option value="" style="display:none">Select subcategory</option>
                  </select>
                    <div class="help-block" ng-if="submitted || complaintForm.complaintSubCategory.$touched" ng-messages="complaintForm.complaintSubCategory.$error">
                      <div ng-messages-include="templates/messages.html"></div>
                    </div><!-- help block -->

                <label class="border-bottom item-floating-label">
                  <span class="input-label" id="complaintTitle">Title<sup>*</sup> </span>
                  <input type="text" placeholder="Title" name="complaintTitle" ng-minlength="5" ng-maxlength="45" ng-model="complaint.title" ng-required="true">
                </label>
                  <div class="help-block" ng-if="submitted || complaintForm.complaintTitle.$touched" ng-messages="complaintForm.complaintTitle.$error" role="alert">
                    <span ng-message="minlength">Complaint title can't be less than 5 characters long.</span>
                    <span ng-message="maxlength">Complaint title can't be more than 45 character long.</span>
                    <div ng-messages-include="templates/messages.html"></div>
                  </div>

                <label class="border-bottom item-floating-label">
                  <span class="input-label">Your Complaint <sup>*</sup> </span>
                  <textarea name="complaintDescription" rows="5" placeholder="Your complaint" ng-model="complaint.description" ng-minlength="10" ng-maxlength="1000" ng-required="true"></textarea>
                </label>
                  <div class="help-block" ng-if="submitted || complaintForm.complaintDescription.$touched" ng-messages="complaintForm.complaintDescription.$error" role="alert">
                    <div ng-message="required">*This field is required.</div>
                    <div ng-message="minlength">Complaint must be at least 10 characters long.</div>
                    <div ng-message="maxlength">Complaint can't be more than 1000 character.</div>
                  </div>

              <div class="item-divider padding">Give Personal Details</div>
              <div class="row responsive-sm">
                <div class="col">
                  <label class="border-bottom item-floating-label">
                    <span class="input-label">First name </span>
                    <input type="text" placeholder="First name (optional)" name="firstName" ng-model="complaint.firstname">
                  </label>
                </div>
                <div class="col">
                  <label class="border-bottom item-floating-label">
                  <span class="input-label">Last name </span>
                  <input type="text" placeholder="Last name (optional)" name="lastName" ng-model="complaint.lastname">
                </label>
                </div>
              </div>

              <label class="border-bottom item-floating-label" style="margin-left:10px;">
                <span class="input-label">Email address </span>
                <input type="email" placeholder="Email address (optional)" name="emailId" ng-model="complaint.emailId" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{3,}$/">
              </label>
                  <div class="help-block" ng-if="complaintCtrl.submitted || complaintForm.emailId.$touched" ng-messages="complaintForm.emailId.$error">
                    <div ng-messages-include="templates/messages.html"></div>
                  </div>
             </div><!-- list -->
              <div class="row padding">
                <div class="col text-center">
                  <button class="button card button-royal" type="submit" id="submit" ng-click="submitted=true">
                    SUBMIT
                  </button>
                  <button class="button button-outline button-block  button-dark" ng-click="complaintCtrl.popup5()">W/ Success &amp; Cancel</button>
                </div>  <!-- col -->
              </div> <!-- row -->
            </form>
          </div><!-- list -->
          <pre> {{complaint | json}} </pre>
        </ion-content>
</ion-pane>