<ion-pane>
  <ion-header-bar align-title="center">
          <h1 class="title">New Complaint</h1>
        </ion-header-bar>

        <ion-content class="padding">
          <div class="list" id="newcomplaint">
            <form name="complaintForm" class="complaintForm" novalidate>

              <select name="complaintCategory" ng-options="category.id as category.name for category in categories track by category.id" ng-model="complaint.categoryId" ng-required="true"  style="width:100%;">
                  <option value="" style="display:none">-- Select Category --</option>
                </select>
                <div class="help-block" ng-if="complaintForm.complaintCategory.$touched" ng-messages="complaintForm.complaintCategory.$error">
                  <div ng-messages-include="templates/messages.html"></div>
                </div>

                <div ng-if="complaint.categoryId">
                  <select name="complaintSubCategory" ng-options="subCategory.id as subCategory.name for subCategory in subCategories track by subCategory.id" ng-model="complaint.subCategoryId" ng-required="true" style="width:100%;">
                   <option value="" style="display:none">-- Select Subcategory --</option>
                  </select>
                  <div class="help-block" ng-if="complaintForm.complaintSubCategory.$touched" ng-messages="complaintForm.complaintSubCategory.$error">
                    <div ng-messages-include="templates/messages.html"></div>
                  </div>
                </div>

              <label class="border-bottom item-input item-floating-label">
                <span class="input-label">Title </span>
                <input type="text" placeholder="Title" name="complaintTitle" ng-minlength="5" ng-maxlength="45" ng-model="complaint.title" ng-required="true">
              </label>
                <div class="help-block" ng-if="complaintForm.complaintTitle.$touched" ng-messages="complaintForm.complaintTitle.$error">
                  <div ng-messages-include="templates/messages.html"></div>
                </div>

              <label class="border-bottom item-input item-floating-label">
                <span class="input-label" style="width:100%;">Your Complaint </span>
                <textarea name="complaintDescription" rows="5" placeholder="Your complaint" ng-model="complaint.description" ng-minlength="10" ng-maxlength="1000" ng-required="true"></textarea>
              </label>
                <div class="help-block" ng-if="complaintForm.complaintDescription.$touched" ng-messages="complaintForm.complaintDescription.$error">
                  <div ng-messages-include="templates/messages.html"></div>
               </div>


              <div class="item-divider padding">Give Personal Details</div>
              <div class="row responsive-sm">
                <div class="col">
                  <label class="border-bottom item-input item-floating-label">
                  <span class="input-label">First name </span>
                  <input type="text" placeholder="First name (optional)" name="firstName" ng-model="complaint.firstname">
                  <div class="help-block" ng-if="complaintForm.firstName.$touched" ng-messages="complaintForm.firstName.$error">
                   <div ng-messages-include="templates/messages.html"></div>
                  </div>
                </label>
                </div>
                <div class="col">
                  <label class="border-bottom item-input item-floating-label">
                  <span class="input-label">Last name </span>
                  <input type="text" placeholder="Last name (optional)" name="lastName" ng-model="complaint.lastname">
                  <div class="help-block" ng-if="complaintForm.lastName.$touched"ng-messages="complaintForm.lastName.$error">
                    <div ng-messages-include="templates/messages.html"></div>
                  </div>
                </label>
                </div>
              </div>

              <label class="border-bottom item-input item-floating-label" style="margin-left:10px;">
                <span class="input-label">Email address </span>
                <input type="email" placeholder="Email address (optional)" name="email" ng-model="complaint.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{3,}$/">
                  <div class="help-block" ng-if="complaintForm.email.$touched" ng-messages="complaintForm.email.$error">
                    <div ng-messages-include="templates/messages.html"></div>
                  </div>
              </label>

              <div class="row padding">
                <div class="col text-center">
                  <button class="button card" type="submit" id="submit" ng-click="saveComplaint(complaint)">
                    SUBMIT
                  </button>
                  <pre><p>{{complaint|json}}</p></pre>
                </div>  <!-- col -->
              </div> <!-- row -->
            </form>
          </div><!-- list -->
        </ion-content>
</ion-pane>