<ion-pane>
  <ion-header-bar align-title="center">
    <h1 class="title">Survey List</h1>
  </ion-header-bar>

   <ion-content class="padding">
    <section class="row">
      <div class="col">

        <div class="row">
          <div class="col">
            <h2 class="balanced" style="background-color:azure;">How will you rate our facilities?</h2>
          </div><!-- col -->
        </div><!-- row -->

        <div class="row">
          <div class="col">
            <h3 class="positive">Orthopedics and Joins</h3>
          </div><!-- col -->
        </div><!-- row -->

        <div class="row">
          <div class="col">
            <input type="radio" name="Orthopedics"> Excellent
          </div><!-- col -->
          <div class="col">
            <input type="radio" name="Orthopedics"> Very Good
          </div><!-- col -->
          <div class="col">
            <input type="radio" name="Orthopedics"> Good
          </div><!-- col -->
          <div class="col">
            <input type="radio" name="Orthopedics"> Average
          </div><!-- col -->
          <div class="col">
            <input type="radio" name="Orthopedics"> Poor
          </div><!-- col -->
        </div><!-- row -->

      </div><!-- col -->
    </section>
   </ion-content>
</ion-pane>