<ion-pane>
  <ion-header-bar align-title="center" class="bar-royal">
    <h1 class="title">SURVEY</h1>
  </ion-header-bar>>

   <ion-content class="padding">

    <form id="surveyForm">
      <section class="row" ng-repeat="survey in surveysCtrl.surveys">
        <div class="col">

          <div class="row">
            <div class="col">
              <h4 class="balanced" style="background-color:azure;">{{$index+1 + ". "}}{{survey.question | capitalize}}</h4>
            </div><!-- col -->
          </div><!-- row -->

            <div class="row">
              <div class="col">
                <p class="positive">{{survey.title | capitalize}}</p>
              </div><!-- col -->
            </div><!-- row -->

            <div class="row">
              <div class="col" ng-repeat="choice in survey.choices.split(',')" ng-if="survey.question_type == 'radio'">
                <label>
                  <input type="radio" name="Orthopedics"> {{choice}}
                </label>
              </div><!-- col -->

              <div class="col" ng-if="survey.question_type == 'text'">
                <textarea></textarea>
              </div>
            </div><!-- row -->
        </div><!-- col -->
      </section>

      <div class="row">
        <div class="col col-offset-33">
          <input type="submit" class="myBtn button card button-royal" value="NEXT" ui-sref="slider">
        </div><!-- col -->
      </div><!-- row -->
    </form>
   </ion-content>
</ion-pane>