@import "variables";

body {
  font-family: sans-serif;
  color: #000;
}

h1.title {
    color: $header-text-color;
}

.bar-header {
  background: $header-bg-color;
}

#newcomplaint {
  .border-bottom  {
  border-bottom: 1px solid #d3d3d3;
  }
  .help-block {
    color: #a52a2a;
    font-weight: bold;
  }
}

.myBtn {
  background-color: $button-bg-color;
  color: $button-text-color;
}

#menuBtn  button,  {
  @extend .myBtn;
}

#submit {
  @extend .myBtn;
   border-radius: 0px;
}