@import "variables";

body {
  font-family: sans-serif;
  color: #000;
}

h1.title {
    color: $header-text-color;
}

.bar-header {
  background: $header-bg-color;
}

.myBtn {
  background-color: $button-bg-color;
  color: $button-text-color;
  min-width: 150px;
}

#menuBtn  button,  {
  @extend .myBtn;
}

#submit {
  @extend .myBtn;
   border-radius: 0px;
   margin-top: 30px;
}

  .complaintForm {
    label, select  {
      border-bottom: 1px solid #d3d3d3;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
    }

    .input-label {
        color: $header-bg-color;
        font-size: .90em;
      }
    .item-input {
      padding-left: 0px;
    }

    .help-block {
      color:red;
    }

    select {
      margin-bottom: 20px;
      height: 30px;
    }
    .item-divider {
      margin-top: 10px;
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: $header-bg-color;
      color: $header-text-color;
    }

    textarea{
      resize: none;
      min-height: 130px;
    }

  }

  button  span {
    margin-left: 10px;
  }

form {
   padding: 15px;
}