@import "base";

  .complaintForm {
    input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
      border-bottom: 1px solid #DA3637;
    }
    label, select {
      border-bottom: 1px solid #d3d3d3;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;  
    }
    .input-label{
        color: $indigo;
        font-size: .90em;
        font-weight: bold;
      }
    .help-block {
      color: #ef473a; //red
      font-size: .80em;
    }
    select {
      height: 30px;
      width: 100%;
    }
    input{
      width: 100%;
    }
    .item-divider {
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba(255, 255, 255, 0.43) !important;
        color: #599890;
        margin-top: 20px;
    }
    textarea{
      resize: none;
      min-height: 130px;
      width: 100%;
      padding-top: 11px;
    }
    button {
      @extend .myBtn;
      border-radius: 0px;
      box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2), 0 8px 8px 0 rgba(0,0,0,0.19);
    }
    textarea, input[type="text"] {
      padding-left: 4px;
    }
    select, label, .item-floating {
      margin-top: 10px;
    } 
    #subCategory {
      margin-top: 25px;
      margin-bottom: 10px;
    }
  }