@import "variables";

body {
  font-family: sans-serif;
  color: #000;
}

h1.title {
    color: $header-text-color;
}

.bar-header {
  background: $header-bg-color;
}

.myBtn {
  background-color: $button-bg-color;
  color: $button-text-color;
  min-width: 150px;
  min-height: 50px;
}

#menuBtn  button,  {
  @extend .myBtn;
}

#submit {
  @extend .myBtn;
   border-radius: 0px;
   margin-top: 30px;
}

  .complaintForm {
    input.ng-invalid.ng-touched, select.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
      border-bottom: 1px solid #DA3637;
    }
    label, select  {
      border-bottom: 1px solid #d3d3d3;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
    }

    .input-label{
        color: blue;
        font-size: .90em;
        font-weight: bold;
      }
    .item-input {
      padding: 0px;
      /* margin-top: 5px;
      margin-bottom: 5px; */
    }

    .help-block {
      color:red;
      font-size: .80em;
    }

    select {
      margin-bottom: 20px;
      height: 30px;
    }
    .item-divider {
      margin-top: 10px;
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    textarea{
      resize: none;
      min-height: 130px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

  }

  button  span {
    margin-left: 10px;
  }

form {
  padding: 10px;
}